[data-bs-theme="dark"] {
    --bg-color: var(--itu-bleu); 
    --text-color: #f5f5f5;
    --heading-color: var(--itu-vert); 

    --bs-body-bg: var(--itu-bleu);
    --bs-body-color: #f5f5f5;
}

[data-bs-theme="dark"] a {
    color: var(--itu-vert);
}

[data-bs-theme="dark"] .itu-navbar .nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
}

[data-bs-theme="dark"] .itu-navbar .nav-link:hover,
[data-bs-theme="dark"] .itu-navbar .nav-link.active {
    color: var(--itu-vert) !important;
}

[data-bs-theme="dark"] .btn-itu {
    background-color: var(--itu-vert);
    color: var(--itu-bleu) !important;
}

[data-bs-theme="dark"] .btn-itu:hover {
    background-color: var(--bg-color);
    color: var(--itu-vert) !important;
    box-shadow: 6px 6px 0px var(--itu-vert);
    transform: translate(-4px, -4px);
}

[data-bs-theme="dark"] .btn-itu:active {
    box-shadow: 0px 0px 0px var(--itu-vert);
    transform: translate(2px, 2px);
}

[data-bs-theme="dark"] .offcanvas-title {
    color: var(--itu-vert);
}

#theme-toggle {
    transition: all 0.3s ease;
}

#theme-toggle:hover {
    background-color: #e9ecef; 
    color: var(--text-color); 
}

[data-bs-theme="dark"] #theme-toggle:hover {
    background-color: #1d2d79; 
    color: #ffffff !important; 
    border-color: #1d2d79;
}



