/* Variables mode sombre */
[data-bs-theme="dark"] {
    --bg-color: var(--itu-black); 
    --text-color: #f5f5f5;
    --heading-color: var(--itu-vert); 
    --bs-body-bg: var(--itu-black); 
    --bs-body-color: #f5f5f5; 
}

/* Liens */
[data-bs-theme="dark"] a {
    color: var(--itu-vert);
}

/* Navbar */
[data-bs-theme="dark"] .itu-navbar .nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
}

[data-bs-theme="dark"] .itu-navbar .nav-link:hover,
[data-bs-theme="dark"] .itu-navbar .nav-link.active {
    color: var(--itu-vert) !important;
}

[data-bs-theme="dark"] .header-scrolled {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255,255,255,0.05);
}

/* Boutons */
[data-bs-theme="dark"] .btn-itu {
    background-color: var(--itu-vert);
    color: var(--itu-bleu) !important;
}

[data-bs-theme="dark"] .btn-itu:hover {
    background-color: var(--bg-color);
    color: var(--itu-vert) !important;
    box-shadow: 6px 6px 0px var(--itu-vert);
    transform: translate(-4px, -4px);
}

[data-bs-theme="dark"] .btn-itu:active {
    box-shadow: 0px 0px 0px var(--itu-vert);
    transform: translate(2px, 2px);
}

/* Bouton Thème */
[data-bs-theme="dark"] #theme-toggle:hover {
    background-color: var(--itu-black); 
    color: #ffffff !important; 
}

/* Menu Offcanvas */
[data-bs-theme="dark"] .itu-big-menu .nav-link {
    color: #ffffff;
}

[data-bs-theme="dark"] .itu-big-menu .nav-link:hover {
    color: var(--itu-vert);
}

/* Scroll */
[data-bs-theme="dark"] .scroll-track {
    background-color: rgba(255, 255, 255, 0.2);
}
[data-bs-theme="dark"] .scroll-tick {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Section Inscrire */
[data-bs-theme="dark"] #inscrire {
    background-color: var(--bg-color);
}

/* =========================================
   CARROUSEL PARTENAIRES
   ========================================= */
.partenaires-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}


.partenaires-track {
    display: flex;
    align-items: center;
    width: max-content; 
    animation: scrollPartenaires 25s linear infinite; 
}

.partenaires-slider:hover .partenaires-track {
    animation-play-state: paused;
}

.partenaire-logo {
    height: 60px; 
    width: auto;
    margin: 0 40px; 
    transition: all 0.3s ease;
    cursor: pointer;
}

.partenaire-logo:hover {
    transform: scale(1.1);
}

@keyframes scrollPartenaires {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}