@font-face {
    font-family: 'Fractul';
    src: url('../fonts/FractulAlt-Regular.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('../fonts/AktivGrotesk-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}